:root {
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
  font-size: 1.6rem;
  height: 100vh;
} 

#outer-container {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}

#nav {
  background-color: #facc15;
  grid-row: 1 / -1;
  padding: 3rem;

  display: grid;
  grid-template-rows: auto 1fr;
}

#id {
  background-color: #fefce8;
}

#main-content {
  background-color: #cbd5e1;
}

#nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 3rem;
  gap: 1rem;
}

#nav-header>img {
  height: 50px;
  justify-self: end;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

#nav-menu img {
  height: 30px;
}

#nav-menu>ul>li>a {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  font-size: 2.1rem;
  margin: 1rem 0;
}

#nav-menu>ul {
  padding: 10px;
}

#top-header {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

#left-top {
  display: flex;
  gap: 15px;
  flex: 1;
}

#right-top {
  display: flex;
  align-items: center;
  gap: 30px;
}

input {
  background-color: #cbd5e1;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 20px;
  flex: 1;
}

#header img {
  height: 25px;
}


