:root {
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
  font-size: 1.6rem;
  height: 100vh;
} 

#outer-container {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
}

#nav {
  background-color: #facc15;
  grid-row: 1 / -1;
  padding: 3rem;

  display: grid;
  grid-template-rows: auto 1fr;
}

#id {
  background-color: #fefce8;
}

#main-content {
  background-color: #a8a29e;
}

#nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 3rem;
  gap: 1rem;
}

#nav-header>img {
  height: 50px;
  justify-self: end;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

li>a>img {
  height: 30px;
}

#nav-menu>ul>li>a {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  font-size: 2.1rem;
  margin: 1rem 0;
}

#nav-menu>ul {
  padding: 10px;
}